.cont{
    margin-top: 20px;
}
.btn-dark{
    
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    
}
.offcanvas{
    display: flex;
    flex-direction: column;
    height: 250px;
    border: 2px solid wheat;
    border-radius: 10px;
    
}
.crd-cont{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
