.gorw {
   margin-top: 48px;
   font-family: 'Ubuntu', sans-serif;
}

.sunil {
   color: blue;
}

.cardd {
   width: 100%;
   box-sizing: border-box;
   padding: 2em;
   font-family: Ubuntu;
   border-radius: 25px;
   color: white;
   line-height: 25px;
   box-shadow: 5px 5px 10px #ccc;
   float: left;
   margin-right: 1em;
   text-align: center;
 }
 
 .cardd.purple {
   background: linear-gradient(150deg, #f731db, #4600f1 100%);
 }
 
 .contact-btn {
   text-transform: uppercase;
   width: 150px;
   display: block;
   margin: 0 auto;
   color: #4600f1;
   border-radius: 50px;
   padding: 1em;
   background: white;
   border: none;
   font-weight: bold;
   margin-top: 4em;
 }
.center {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

@media (max-width: 576px) {
   .gorw {
      display: flex;
      flex-direction: column;
      margin-top: 250px;
      align-items: center;
   }

   .sunil {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .lgs {
      display: flex;
      flex-direction: column;
      margin: auto
   }

   .copyright {
      float: left;
   }
}

@media (max-width: 768px) {

   .gorw {
      display: flex;
      flex-direction: column;
      margin-top: 250px;
      align-items: center;
   }

   .sunil {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .lgs {
      display: flex;
      flex-direction: column;
      margin: auto
   }

   .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}


@media (max-width: 992px) {
   .gorw {
      display: flex;
      flex-direction: column;
      margin-top: 250px;
      align-items: center;
   }

   .sunil {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .lgs {
      display: flex;
      flex-direction: column;
      margin: auto
   }

   .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 82px;
   }

}