.card-title {
    color: red;
}

.card-text {
    color: black;
}

.cardforservice{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    border-radius: 10px;
    border: solid wheat;
    box-shadow: 5px 5px 10px #ccc;
}

.card-img-top {
    margin-top: 3px;
}